@media screen and (max-width: 1654px) {
    .carousel-caption h3 {
        font-size: 35px;
    }

    .carousel-caption p slajder-tekst {
        font-size: 10px;
    }

}

@media screen and (max-width: 1199px) {
    .carousel-caption h3 {
        font-size: 20px;
    }

    .carousel-caption p slajder-tekst {
        font-size: 10px;
    }
}

@media screen and (max-width: 991px) {
    .carousel-caption h3 {
        font-size: 20px;
    }

    .carousel-caption p slajder-tekst {
        font-size: 4px;
    }
    .autor-slika {
        width: 17rem;
        height: 18rem;
    }
    .slike-ag {
        width: 16rem;
        height: 16rem;
    }
    .tekst-ag {
        font-size: 20px;
    }
}

@media screen and (max-width: 500px) {
    .carousel-caption h3 {
        font-size: 18px;
    }

    .carousel-caption p slajder-tekst {
        font-size: 5px;
    }
    .autor-slika {
        width: 15rem;
        height: 15rem;
    }

}

